.projects {
    background-color: #e5ebee;
    background-image: url('../../assets/img/blue-snow.png');
    background-position: center;
    background-size: cover;
    display:grid;
    grid-template-columns: 1fr;
    @media  screen and (min-width:763px) {
        grid-template-columns: 1fr 1fr;    
    }
    @media  screen and (min-width:1024px) {
        grid-template-columns: 1fr 1fr 1fr;    
    }
}

.projects__heading {
    grid-area: 1/1/2/4;
}