.card {
    border:0;
    border-radius: 16px;
    margin: 16px;
}

.card__button {
    border: 2px solid (linear-gradient(90deg,#d62828,#ffc300));
}

.card__button2 {
    background-image: linear-gradient(90deg,#ef476f,#ffc300);
}
