.card {
  border: 0;
  border-radius: 16px;
  margin: 16px;
}

.card__button {
    background-color: #fff;
    border: 10px solid;
    border-radius: 6px;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #d62828, #ffc300);
    &:hover {
        background-image:linear-gradient(to left,#d62828, #ffc300) ;
    }
  }


.card__container {
    background-color: red;
    border-radius:0.375rem;
    padding: 0.375rem;
}
