.listTask__button {
    align-items: center;
    color:#2b9348;
    display: flex;
    font-size: 30px;
    justify-content: flex-end;
    padding: 16px;
}

.listTask__icon {
    border: 1px solid #2b9348;
}

.listTask__heading {
    align-items: center;
    display: flex;
    padding: 16px;
    margin: 0;
    overflow-wrap: break-word
}

