.invitation {
    background-color: #282c34;
    color:#FFF;
    opacity: 80%;
}

.invitation__heading {
    background: -webkit-linear-gradient(#d62828, #ffc300, #ef476f,#ffc300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.invitation__special {
    background-color: #61dafb;   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  color: #61dafb;
}

.invitation__special2 {
  margin: 0 7px;
  text-decoration: none;
  &:hover {
    color: #61dafb;
    display: inline-block;
    text-decoration: underline;
    animation: contact 0.3s ease-in;
  }
}

@keyframes contact {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
